[submodule "packages/u-boot"]
	path = joltos/packages/u-boot/git
	url = https://github.com/u-boot/u-boot
[submodule "packages/linux"]
	path = joltos/packages/linux/git
	url = https://github.com/torvalds/linux.git
